<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
				"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>Phone Scraper</title>

	<script language="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script
	<script language="javascript" src="/site_media/js/dijscrape.js"></script>
	{% block extra_head %}{% endblock %}
	<meta name="google-site-verification" content="UxKDnQQ2rkgr5OBNStrVE19tYcbRC2Z28tWJdHi_kbM" />
</head>
<body>

<div>
	{% if not user.is_authenticated %}
		<p><a href="{% url registration_register %}">Registration</a></p>
		<p><a href="{% url auth_login %}">Login</a></p>
	{% else %}
		<p><a href="{% url auth_logout %}">Logout as {{ user.username }}</a></p>
	{% endif %}

	{% if user.is_authenticated %}
	<p>Your account type is: {{ user.get_profile.get_mode_display }}</p>
		{% if user.get_profile.paid_until %}
			<p>Expired data: {{ user.get_profile.paid_until|date:"M d Y H:i" }}</p>
		{% endif %}
	{% endif %}

	{% if user.is_authenticated and user.phonenumber_set.count > 0 %}
	<div>
		<form action="{% url search %}" method="get">
			<input type="text" name="q" />
			<input type="submit" value="Search" />
		</form>
	</div>
	{% endif %}
</div>

<div>
	{% block content %}{% endblock %}
</div>

</body>
</html>