{% extends "base.html" %}


{% block content %}

	<script type="text/javascript">
	function ReScrape(mailbox_id) {
		$.get('/rescrape/'+mailbox_id+'/');
		$('#rescrape_link').text('Rescrape was started. Please, refresh the page after some minute.');
	}
	</script>

	<h2>Scrape phone numbers from you email box.</h2>
	
	<p><a href="{% url add-mailbox %}">Add mailbox to scrape</a></p>
	<p><a href="{% url payment %}">Subscribe now</a></p>

	{% for mailbox in mailboxes %}
	<h3>{{ mailbox.username }}</h3>
		<p>
			<div id="rescrape_link">
				{% if mailbox.status == 2 %}
				Rescrape was started. Please, refresh the page after some minute.
				{% else %}
				<a href="javascript:void(0);" onclick="javascript:ReScrape({{ mailbox.id }});">Re-Scrape this mailbox</a><br />
				{% endif %}
			</div>
			<a href="{% url edit-mailbox mailbox.id %}">Edit</a>
			{% if mailbox.phonenumber_set.count == 0 and mailbox.status == 2 %}
				<p>Scraping is in progress, refresh the page earlier or wait for the email in your inbox.</p>
			{% else %}
				<table border="1">
					<tr><th>Name</th><th>Phone</th><th>Email</th><th>Subject</th><th>Context</th></tr>
					{% for item in mailbox.phonenumber_set.all %}
					<tr>
						<td>{{ item.message.sender_name }}</td>
						<td>{% if forloop.counter > 3 and user.get_profile.mode == 1 %}Trail mode{% else %}{{ item.value }}{% endif %}</td>
						<td>{{ item.message.sender_email }}</td>
						<td>{{ item.message.subject }}</td>
						<td>{{ item.message.payload }}</td>
					</tr>
					{% endfor %}
				</table>
			{% endif %}
		</p>
	{% endfor %}

{% endblock %}