{% extends "base.html" %}


{% block content %}

	<h2>Your Trial Has Expired</h2>
	<p>You can subscribe to LostPhoneNumbers for only $9/month or for $99/year</p>


	<form action="" method="post">
		<table>
			<tr><td>
				<label><input type="radio" name="" value="9" /> $9/month</label>
				<label><input type="radio" name="" value="99" /> $99/year</label>
			</td><td>
				<input type="submit" value="Subscribe with PayPal" />
				<input type="submit" value="Subscribe with Credit Card" />
			</td></tr>
		</table>
	</form>

{% endblock %}